{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": [0],
    "import/no-extraneous-dependencies": [0],
    "import/extensions": [0],
    "import/no-unresolved": [0],
    "global-require": [0]
  },
  "globals": {
    "$dirname": true
  }
}